* {
    font-family: "roboto";
}

body{
    width: 100%;
    margin: 0;

    a{
        text-decoration: unset;
        color:unset;
        
        &:hover {
            opacity: 0.6;
        }
    }
}