.headerrestaurants {
    display: flex;
    align-items: center;


    &__arrow {
        font-size: 20px;
        margin-left: 20px;
    }

    &__logo {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-right: 35px;
        &--image {
            width: 40%;
            margin: 20px 0 20px 0;
        }

    }
}

.header {
    display: grid;

    &__logo {
        justify-content: center;
        display: flex;

        &--image {
            width: 40%;
            margin: 20px 0 10px 0;
        }
    }

    &__location {
        background-color: #EAEAEA;
        width: 100%;
        display: flex;
        justify-content: center;
        box-shadow: 0px 4px 4px 0px #00000040;


        &--h2 {
            font-family: "roboto";
            font-size: 16px;
        }

        &--dot {
            margin: 15px 10px 15px 0;
        }

    }
}

@media screen and (min-width: 700px) {
    .headerrestaurants {
        &__logo {
            &--image{
                width: 20%;
            }
        }
    }
}