body {
  width: 100%;
  margin: 0;
}
body a {
  text-decoration: unset;
  color: unset;
}
body a:hover {
  opacity: 0.6;
}

.header {
  display: grid;
}
.header__logo {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  justify-content: center;
}
.header__logo--image {
  width: 50%;
  margin: 20px 0 20px 0;
}
.header__location {
  background-color: #EAEAEA;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.header__location--h2 {
  font-family: "roboto";
  font-size: 16px;
}
.header__location--dot {
  margin: 15px 10px 15px 0;
}

* {
  font-family: "roboto";
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  position: fixed;
  background-color: gray;
  height: 100%;
  inset: 0;
  opacity: 0.9;
  animation: loader 0s 4s forwards;
  display: grid;
  place-items: center;
}
.loader__item {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.explore {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  text-align: center;
  align-items: center;
}
.explore__text {
  width: 80%;
  margin: 20px 0 0 10px;
}
.explore__button {
  border-radius: 25px;
  padding: 15px;
  font-size: 16px;
  color: #FFFFFF;
  background: linear-gradient(#9356DC, #FF79DA);
  margin-bottom: 50px;
  text-decoration: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2509803922);
}
.explore h2 {
  margin-bottom: 0px;
}
.explore p {
  color: #353535;
  margin-bottom: 30px;
}

.fonctionnement h2 {
  margin: 50px 0 20px 20px;
}
.fonctionnement__steps {
  display: grid;
  justify-content: center;
  grid-template-columns: 80%;
  grid-template-rows: 90px 90px 90px;
}
.fonctionnement__steps--box {
  background-color: rgb(244.8, 244.8, 244.8);
  border-radius: 20px;
  align-items: center;
  display: flex;
  margin-top: 20px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1490196078);
  position: relative;
}
.fonctionnement__steps--box i {
  width: 25%;
  text-align: center;
  margin-left: 10px;
}
.fonctionnement__steps--circle {
  border-radius: 20px;
  color: white;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  position: absolute;
  left: -10px;
  padding: 4px 9px;
}
.fonctionnement__steps--circle p {
  margin: 0;
}

.restaurants {
  background-color: #F6F6F6;
  margin: 40px 0 40px 0;
}
.restaurants__title {
  padding: 40px 0 0 20px;
}
.restaurants__box--link {
  text-decoration: none;
  color: #101010;
  display: flex;
  justify-content: center;
}
.restaurants__box--card {
  width: 90%;
  border: 2px solid transparent;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
}
.restaurants__box--cardtext {
  padding: 20px;
  position: relative;
}
.restaurants__box--cardtext i {
  position: absolute;
  right: 35px;
  top: 25px;
  font-size: 22px;
}
.restaurants__box--image {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurants__box h3, .restaurants__box p {
  margin: unset;
}
.restaurants__box--heart {
  background: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.restaurants__box--heart:hover {
  opacity: 1;
  transform: scale(1.3);
}

.footer {
  margin-top: 60px;
  padding: 10px 0 30px 0;
  background-color: #353535;
}
.footer__logo {
  font-family: "Shrikhand", serif;
  color: #FFFFFF;
  margin-left: 20px;
  font-size: larger;
}
.footer__text {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  margin-left: 20px;
  gap: 10px;
}

/*# sourceMappingURL=style.css.map */
