.headerrestaurants {
  display: flex;
  align-items: center;
}
.headerrestaurants__arrow {
  font-size: 20px;
  margin-left: 20px;
}
.headerrestaurants__logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 35px;
}
.headerrestaurants__logo--image {
  width: 40%;
  margin: 20px 0 20px 0;
}

.header {
  display: grid;
}
.header__logo {
  justify-content: center;
  display: flex;
}
.header__logo--image {
  width: 40%;
  margin: 20px 0 10px 0;
}
.header__location {
  background-color: #EAEAEA;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.header__location--h2 {
  font-family: "roboto";
  font-size: 16px;
}
.header__location--dot {
  margin: 15px 10px 15px 0;
}

@media screen and (min-width: 700px) {
  .headerrestaurants__logo--image {
    width: 20%;
  }
}
* {
  font-family: "roboto";
}

body {
  width: 100%;
  margin: 0;
  max-width: 1440px;
}
body a {
  text-decoration: unset;
  color: unset;
}
body a:hover {
  opacity: 0.6;
}

.button {
  border-radius: 25px;
  padding: 15px;
  color: #FFFFFF;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(#9356DC, #FF79DA);
}

.heart {
  z-index: 1;
  background: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.heart:hover {
  opacity: 1;
  transform: scale(1.3);
}

@keyframes apparition {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes check {
  0% {
    margin-right: -100px;
  }
  100% {
    margin-right: 0;
  }
}
.footer {
  padding: 10px 0 30px 0;
  background-color: #353535;
}
.footer__text {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  margin-left: 20px;
  gap: 10px;
}
.footer__text--withoutlogo {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  flex-direction: column;
}
.footer__text--logo {
  font-family: "Shrikhand", serif;
  color: #FFFFFF;
  margin-left: 2px;
  font-size: larger;
  padding-top: 10px;
  padding-left: 40px;
}

@media screen and (min-width: 900px) {
  .footer__text {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 50px 0;
    justify-content: right;
    gap: 15px;
  }
  .footer__text--withoutlogo {
    display: flex;
    gap: 25px;
    padding-top: 15px;
    flex-wrap: wrap;
    flex-direction: unset;
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  position: fixed;
  background-color: gray;
  height: 100%;
  inset: 0;
  opacity: 0.9;
  animation: loader 0s 4s forwards;
  display: grid;
  place-items: center;
  z-index: 1;
}
.loader__item {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.explore {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  text-align: center;
  align-items: center;
}
.explore__text {
  width: 80%;
  margin: 20px 0 0 10px;
}
.explore__button {
  margin-bottom: 50px;
}
.explore h2 {
  margin-bottom: 0px;
}
.explore p {
  color: #353535;
  margin-bottom: 30px;
}

.fonctionnement {
  padding: 40px 8% 70px;
}
.fonctionnement__steps {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90px 90px 90px;
}
.fonctionnement__steps i {
  width: 25%;
  text-align: center;
  margin-left: 10px;
}
.fonctionnement__steps i:hover {
  color: #9356DC;
}
.fonctionnement__steps--box {
  background-color: rgb(244.8, 244.8, 244.8);
  border-radius: 20px;
  align-items: center;
  display: flex;
  margin-top: 20px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1490196078);
  position: relative;
}
.fonctionnement__steps--box--circle {
  border-radius: 20px;
  color: white;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  position: absolute;
  left: -10px;
  padding: 4px 9px;
}
.fonctionnement__steps--box--circle p {
  margin: 0;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 50px 8% 50px;
}
.restaurants__card {
  text-decoration: none;
  color: #101010;
  display: flex;
  position: relative;
}
.restaurants__card--link {
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  position: relative;
  width: 100%;
}
.restaurants__card--link--new {
  position: absolute;
  color: #008766;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 80px;
  height: 30px;
  border-radius: 2px;
}
.restaurants__card i {
  position: absolute;
  right: 50px;
  bottom: 60px;
  font-size: 22px;
}
.restaurants__card h3,
.restaurants__card p {
  margin: unset;
}
.restaurants__card--image {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurants__cardcontent--cardtext {
  padding: 20px;
}

@media screen and (min-width: 900px) {
  .header__logo--image {
    width: 15%;
    margin: 20px 0 20px 0;
  }
  .fonctionnement {
    margin-bottom: 60px;
    padding: 20px 100px 0px 100px;
  }
  .fonctionnement__steps {
    display: flex;
    gap: 25px;
  }
  .fonctionnement__steps--box {
    width: 100%;
    height: 70px;
  }
  .fonctionnement h3 {
    font-size: 15px;
  }
  .restaurants {
    padding: 20px 100px 0px 100px;
  }
  .restaurants__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .restaurants__card {
    width: 45%;
  }
}
@media screen and (min-width: 1250px) {
  .menu__header i {
    right: 400px;
  }
}
@media screen and (max-width: 400px) {
  .menu__header i {
    font-size: 21px;
    right: 47px;
  }
  .menu__header--title {
    font-size: 21px;
  }
}
.backgroundtop__image {
  object-fit: cover;
  height: 275px;
  width: 100%;
}

.menu {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  padding: 15px 25px 0 25px;
}
.menu__starter {
  animation: apparition 1.25s;
  transform-origin: 100% 35%;
}
.menu__main {
  animation: apparition 1.25s;
  transform-origin: 100% 35%;
  animation-delay: 0.75s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.menu__dessert {
  animation: apparition 1.25s;
  transform-origin: 100% 35%;
  animation-delay: 1.25s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.menu__button {
  display: flex;
  justify-content: center;
  padding: 35px 0 50px 0;
}
.menu__button--text {
  display: flex;
  padding: 15px 6% 15px 6%;
  justify-content: center;
}
.menu__title {
  font-family: "roboto";
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 0;
}
.menu__line {
  border-top: 3px solid #99E2D0;
  width: 40px;
  margin-left: 0px;
}
.menu__header {
  display: flex;
  justify-content: space-between;
}
.menu__header--title {
  font-family: "Shrikhand", serif;
  font-size: 26px;
  font-weight: 500;
}
.menu__header i {
  position: absolute;
  right: 55px;
  top: 45px;
  font-size: 25px;
}
.menu__plats {
  display: flex;
  flex-direction: column;
}
.menu__plats--box {
  border-radius: 15px;
  background-color: white;
  width: 100%;
  margin: 0px 0 15px 0;
  display: flex;
  justify-content: space-between;
  transition: all ease-in-out 1s;
  overflow: hidden;
}
.menu__plats--box:hover .menu__plats--box--price--coche {
  margin-right: 0;
}
.menu__plats--box--content {
  padding-right: 5px;
  overflow: hidden;
}
.menu__plats--box--content--title {
  margin: 0;
  padding: 15px 0 0 10px;
  font-size: 15px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__plats--box--content--subtitle {
  margin: 0;
  padding: 3px 0 0 10px;
  font-size: 13px;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__plats--box--price {
  display: flex;
  overflow: hidden;
}
.menu__plats--box--price p {
  padding: 20px 15px 0 0;
}
.menu__plats--box--price--coche {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  margin-right: -100px;
  width: 100px;
  transition: all 0.6s;
  animation: check;
}
.menu__plats--box--price--coche--check {
  color: white;
  font-size: 30px;
}

@media screen and (min-width: 950px) {
  .backgroundtop__image {
    height: 300px;
  }
  .menu {
    width: 80%;
    margin-left: 10%;
  }
  .menu__starter {
    width: 70%;
    margin-left: 15%;
  }
  .menu__main {
    width: 70%;
    margin-left: 15%;
  }
  .menu__dessert {
    width: 70%;
    margin-left: 15%;
  }
  .menu__button--text {
    width: 20%;
  }
  .menu__title {
    font-size: 14px;
  }
  .menu__header {
    justify-content: center;
  }
  .menu__header--title {
    font-size: 25px;
  }
  .menu__header i {
    right: 240px;
    top: 40px;
  }
  .menu__line {
    width: 35px;
  }
}
@media screen and (min-width: 1250px) {
  .menu__header i {
    right: 400px;
  }
}
@media all and (min-width: 500px) and (max-width: 700px) {
  .menu__header {
    justify-content: center;
  }
  .menu__header i {
    right: 100px;
  }
}
@media all and (min-width: 700px) and (max-width: 950px) {
  .menu__header {
    justify-content: center;
  }
  .menu__header i {
    right: 200px;
  }
}
@media screen and (max-width: 400px) {
  .menu__header i {
    font-size: 21px;
    right: 55px;
    top: 38px;
  }
  .menu__header--title {
    font-size: 21px;
  }
}

/*# sourceMappingURL=style.css.map */
