@use '../abstracts/variables';

.backgroundtop {
    &__image {
        object-fit: cover;
        height: 275px;
        width: 100%;
    }
}

.menu {
    background-color: variables.$grey;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: -50px;
    margin-bottom: -50px;

    &__button {
        display: flex;
        justify-content: center;
        padding: 35px 0 50px 0;

        &--text {
            display: flex;
            width: 45%;
            justify-content: center;
        }
    }

    &__title {
        font-family: "roboto";
        font-size: 17px;
        font-weight: 300;
        padding-left: 15px;
        margin-bottom: 0;
    }

    &__line {
        border-top: 3px solid variables.$light-green;
        width: 40px;
        margin-left: 15px;
    }

    &__header {
        padding: 40px 0px 20px;
        display: flex;
        justify-content: space-evenly;

        &--title {
            font-family: "Shrikhand", serif;
            font-size: 28px;
        }


        i {
            position: absolute;
            right: 55px;
            top: 45px;
            font-size: 25px;

        }
    }


    &__plats {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;


        &--box {
            border-radius: 15px;
            background-color: white;
            width: 90%;
            margin: 0px 0 15px 0;
            display: grid;
            justify-content: space-between;
           // animation: apparition 1.25s;
            //transform-origin: 100% 35%;
            grid-template-columns: 1fr 1fr 0px;
            transition: all ease-in-out 1s;
            &:hover{
                grid-template-columns: 1fr 1fr 1fr;
            }
    


            &--content {

                &--title {
                    margin: 0;
                    padding: 15px 0 0 10px;
                    font-size: 15px;
                    font-weight: 500;
                }

                &--subtitle {
                    margin: 0;
                    padding: 3px 0 0 10px;
                    font-size: 13px;
                    font-weight: 300;
                }

            }

            &--price {

                display: grid;
                grid-template-columns: 0px 40PX;

                &:hover {
                    grid-template-columns: 40px 70PX;
                }

                p {
                    padding: 20px 15px 0 0;
                }

                &--coche {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0px 15px 15px 0px;
                    background-color: variables.$light-green;
                    opacity: 0;

                    &:hover {
                        opacity: 1;
                    }

                    &--check {
                        color: white;
                        font-size: 30px;
                    }
                }
            }

            &--coche {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0px 15px 15px 0px;
                background-color: variables.$light-green;

                
                &--check {
                    color: white;
                    font-size: 30px;
                }
                
            }
        }
    }

}